<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">Modificar dispositivo {{ dispositivo.dispositivoId }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title class="titulo">
        {{ ubicacionold }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Ubicación</ion-label>
        <ion-input [(ngModel)]="dispositivo.ubicacion" type="text" [clearInput]="true" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="dispositivo.nombre" type="text" [clearInput]="true" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ID</ion-label>
        <ion-input [(ngModel)]="dispositivo.dispositivoId" type="text" [disabled]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">MAC address</ion-label>
        <ion-input [(ngModel)]="dispositivo.mac" type="text" [disabled]="true"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div class="button-container">
    <ion-button (click)="guardarCambios()" color="success"><ion-icon slot="start" name="checkmark"></ion-icon>Guardar Cambios</ion-button>
    <ion-button [routerLink]="'/home'"><ion-icon slot="start" name="home"></ion-icon>Inicio</ion-button>
  </div>
</ion-content>
