<ion-header>
  <ion-toolbar>
    <ion-title>
      Sensores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let dispositivo of devices">
    <ion-card-header>
      <ion-card-title>{{ dispositivo.ubicacion }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>{{ dispositivo.nombre }}</div>
      <div>Tipo: {{ dispositivo.tipo }}</div>
      <div>MAC: {{ dispositivo.mac }}</div>
    </ion-card-content>
    <ion-item detail="false" class="ver-detalle">
      <ion-button [routerLink]="'/dispositivos/' + dispositivo.dispositivoId">Estado</ion-button>
      <ion-button [routerLink]="'/dispositivos/' + dispositivo.dispositivoId + '/modificar'">Modificar</ion-button>
      <ion-button class="boton-borrar" (click)="confirmarBorrar(dispositivo.dispositivoId)">Borrar</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
