.head {
  text-align: center;
}

ion-col {
  background-color: #999999;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
}

ion-col.titulo {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

div.valor {
  vertical-align: middle;
}

.boton-borrar {
  --background: red;
  --color: white;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-card {
  width: calc(50% - 20px);
  margin: 10px;
  min-height: 200px;
  
  ion-card-header {
    ion-card-title {
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    ion-icon {
      font-size: 1.2rem;
    }
  }
  
  ion-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
  }
  
  ion-item[detail="false"] {
    display: flex;
    justify-content: center;
  }
  
  ion-button {
    margin: 7px;
  }
}

.clima-card {
  width: calc(50% - 20px);
  margin: 10px;
  min-height: 200px;
  
  ion-card-header {
    ion-card-title {
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    ion-icon {
      font-size: 1.2rem;
    }
  }
  
  ion-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
  }
  
  ion-item[detail="false"] {
    display: flex;
    justify-content: center;
  }
  
  ion-button {
    margin: 7px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(30% - 20px);
}

.center-button {
  text-align: center;
  width: auto;
}

.ver-detalle{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .custom-card {
    width: 100%;
  }
}