<ion-content>
  <div class="card-container">
    <ion-card *ngFor="let dispositivo of devices" class="custom-card">
      <ion-card-header>
        <ion-card-title [routerLink]="'/dispositivos/' + dispositivo.dispositivoId">
          {{ dispositivo.ubicacion }} 
          <ion-icon *ngIf="dispositivo.tipo === 'Temperatura'" name="thermometer"></ion-icon>
          <ion-icon *ngIf="dispositivo.tipo === 'Luz dimmer'" name="sunny"></ion-icon>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div>Descripción: {{ dispositivo.nombre }}</div>
        <div>Tipo: {{ dispositivo.tipo }}</div>
        <div>ID: {{ dispositivo.dispositivoId }}</div>
        <div>MAC: {{ dispositivo.mac }}</div>
      </ion-card-content>
      <div class="ver-detalle">

        <ion-button [routerLink]="'/dispositivos/' + dispositivo.dispositivoId" size="small">
          <ion-icon name="enter"></ion-icon>Ver
        </ion-button>
        <ion-button [routerLink]="'/modificar/' + dispositivo.dispositivoId" size="small">
          <ion-icon name="create"></ion-icon>Modificar
        </ion-button>
        <ion-button class="boton-borrar" (click)="confirmarBorrar(dispositivo.dispositivoId)" size="small">
          <ion-icon name="close"></ion-icon>Borrar
        </ion-button>

    </div>
    </ion-card>
  </div>
</ion-content>
