.head {
    text-align: center;
}

ion-col {
    background-color: #999999;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
  }

ion-col.titulo {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

div.valor {
    vertical-align: middle;
}