.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

.enlarged-image {
  transform: scale(2.5);
  /* padding-top: 20px; */
}

.login-logo {
  margin-top: 80px;
}
