ion-title {
  text-align: left;
  padding-top: 25px;
}

.subtitulo {
  text-align: center;
  align-items: center;
  align-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu {
  font-size: x-large;
}

.menutit {
  text-align: center;
  align-items: center;
}

ion-item {
  cursor: pointer;
}