<ion-menu contentId="main-content">
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item [routerLink]="'/usuario/' + userId">
        <ion-icon slot="start" name="person"></ion-icon>
        Usuario
      </ion-item>
      <ion-item [routerLink]="'/agregar/'">
        <ion-icon slot="start" name="add"></ion-icon>
        Agregar dispositivo
      </ion-item>
      <ion-item [routerLink]="'/video'">
        <ion-icon slot="start" name="videocam"></ion-icon>
        Dispositivo de video
      </ion-item>
      <ion-item [routerLink]="'/ayuda'">
        <ion-icon slot="start" name="help"></ion-icon>
        Manual de uso
      </ion-item>
      <ion-item (click)="logout()" [routerLink]="''">
        <ion-icon slot="start" name="log-out"></ion-icon>
        Log out
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button><ion-text class="menu">Menú</ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">
  <ion-toolbar>
    <h5 class="subtitulo">Listado de dispositivos</h5>
  </ion-toolbar>
  <app-listadisp></app-listadisp>
</ion-content>
