.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.center-content {
  text-align: center;
  margin-bottom: 10px;
  align-items: center;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.salida-label {
  flex: 1 1 auto;
  margin-right: 0px;
  width: 100%;
  align-items: center;
}

.custom-input-salida {
  flex: 1;
  max-width: 20%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.custom-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  width: 60px;
  margin: 5px auto;
}

.button-container {
  text-align: center;
}

.ion-text-center {
  padding: 15px;
}

ion-segment-button::part(indicator-background) {
  background: #08a3;
}

.segment-button-checked.md::part(native) {
  color: #08a391;
}

ion-segment-button.md::part(indicator-background) {
  height: 140px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .button-container {
    justify-content: center;
  }
}
