<ion-header [translucent]="true">
    <ion-toolbar>
        <div class="header-container">
        <ion-button [routerLink]="'/home'" class="volver-button" color="primary"><ion-icon slot="start" name="home"></ion-icon>Inicio</ion-button>
        <ion-title class="titulo">Ayuda</ion-title>
        </div>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" class="img">
    <div class="content">
      <h3>Componente Web</h3>
      <h6>
        Gracias por utilizar el sistema de control de hogares a distancia. Aquí vas a poder encontrar la ayuda y guía de uso del sistema. Si tenés alguna consulta podés hacerlo por mail a automaticoh@gmail.com y en breve responderemos tu consulta.
        Para comenzar a utilizar el sistema se tiene que contar con los datos de acceso de alguno de los usuarios. El sistema cuenta con una capacidad de 3 usuarios para poder consultar y modificar el sistema, los cuales por default son "user1", "user2" y "user3" y la contraseña para todos ellos es "user". 
      </h6>
      <img src="assets/img/login.png">
      <h6>
        Cuando se inicie sesión por primera vez con cada usuario y hasta que no se cambien los valores a aparecerá un cartel en pantalla para actualizar los datos. Esto se hace haciendo clic en "Usuario" y cambiando los valores que vienen por defecto en el sistema. Una vez actualizados los campos deseados, se debe hacer clic en "Guardar".
      </h6>
      <img src="assets/img/aviso_usuario.png">
      <h6>
        Una vez ingresado al sistema, se puede ver, modificar, borrar y agregar dispositivos al sistema. 
      </h6>
      <img src="assets/img/home.png">
      <h6>
        Para ver los detalles del dispositivo y la medición actual, hay que hacer clic en "Ver". Aquí vas a poder ver el estado, la última medición enviada por el dispositivo de forma gráfica, el estado de la alarma, si corresponde, y el modo. Por el momento
        el sistema soporta 2 tipos de dispositivos: de temperatura (imagen izquierda) y dimmer de luz (imagen derecha).
      </h6>
      <img src="assets/img/disp_temp.png">
      <img src="assets/img/disp_luz.png">
      <h6>
        Para ver la lista de mediciones se debe hacer clic en "Mediciones". Una vez hecho, aparecerá en pantalla la lista de todas las mediciones del dispositivo asociado ordenadas desde la última hacia atrás en tiempo.
      </h6>
      <img src="assets/img/mediciones.png">
      <h6>
        En esta pantalla aparece la lista de mediciones asociada al dispositivo. En la parte superior izquierda se encuentran los botones para volver a la pantalla de inicio,
        para volver a la pantalla del dispositivo. En la sección superior derecha aparecen los botones para borrar todas las mediciones asociadas al dispositivo y para acceder a la página de visualización
        de las mediciones en forma gráfica.
      </h6>
      <img src="assets/img/grafico.png">
      <h6>
        Para configurar el dispositivo seleccionado de forma remota, en la pantalla correspondiente se debe hacer clic en "Configurar".
        Aparecerá una pantalla con los datos de configuración actuales del dispositivo en cuestión en 3 secciones. En la primera, se selecciona el estado de la
        salida en modo manual. En la segunda sección se seleccionan los datos del modo automático tales como el set point (valor que controlará en este modo), hora y minutos de encendido y
        hora y minutos de apagado. Por último, se puede seleccionar el modo automático o manual. PAra enviar los datos al dispositivo se debe hacer clic en "Enviar datos", para cancelar el envío y volver a la página anterior, en "Volver", 
        y para cancelar el envío y volver a la página de inicio en "Inicio".
      </h6>
      <img src="assets/img/configuracion.png">
      <h6>
          
      </h6>
      <h3>Dispositivos</h3>
    </div>
  </ion-content>
  