ion-content {
    --ion-background-color: #f9f9f9;
  }
  
.content {
    padding: 20px;
  }

.titulo {
    text-align: center;
}

.content {
    background-color: black;
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }