.content {
    padding: 20px;
  }

.titulo {
    text-align: center;
}

ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  padding: 20px;
  text-align: center;
}

.content img {
  max-width: 100%;
  height: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }