.content {
    padding: 20px;
  }

.titulo {
    text-align: center;
}

.ion-button {
  color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }