<ion-header [translucent]="true">
    <ion-toolbar>
        <div class="header-container">
        <ion-button [routerLink]="'/home'" class="volver-button"><ion-icon slot="start" name="home"></ion-icon>Inicio</ion-button>
        <ion-title class="titulo">Ayuda</ion-title>
        </div>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <div class="content">
        <h6>
        Gracias por utilizar el sistema de control de hogares a distancia. Aquí vas a poder encontrar la ayuda y guía de uso del sistema. Si tenés alguna consulta podés hacerlo por mail a automaticoh@gmail.com y en breve responderemos tu consulta.
        Para comenzar a utilizar el sistema tenés que contar con los datos de acceso de alguno de los usuarios. El sistema cuenta con una capacidad de 3 usuarios para poder consultar y modificar el sistema, los cuales por default son "user1", "user2" y "user3" y la contraseña para todos ellos es "user". 
        </h6>
        (foto login)
        <h6>
        Cuando inicies sesión por primera vez con cada usuario y hasta que no se cambien los valores te va a aparecer un cartel en pantalla para actualizar los datos. Esto se hace haciendo clic en "Usuario" y cambiando los valores que vienen por defecto en el sistema. Una vez actualizados los campos deseados, se debe hacer clic en "Guardar".
        </h6>
        (foto cartel actualizar datos usuario)
        <h6>
        Una vez ingresado al sistema, vas a poder ver, modificar, borrar y agregar dispositivos al sistema. 
        </h6>
        (foto home)
        <h6>
        Para ver el estado y la medición actual, tenés que hacer clic en "Ver". Aquí vas a poder ver el estado, la última medición enviada por el dispositivo, el estado de la alarma, si corresponde, y el modo.
        </h6>
        (fotos dispositivos)
        <h6>
        Para ver la lista de mediciones se debe hacer clic en "Mediciones". Una vez hecho, aparecerá en pantalla la lista de todas las mediciones del dispositivo asociado.
        </h6>
    </div>
  </ion-content>
  