<ion-card>
  <ion-card-header>
    <div class="header-container">
      <ion-button [routerLink]="'/dispositivos/' + dispositivoId" class="volver-button">Volver</ion-button>
        <div class="titulo">Mediciones - Dispositivo {{dispositivoId}}</div>
      <ion-button [routerLink]="'/grafico/' + dispositivoId" class="ver-grafico-button">Gráfico</ion-button>
    </div>
  </ion-card-header>
  <ion-card-content>
    <ion-grid [fixed]="true" class="mediciones-grid">
      <ion-row>
        <ion-col class="titulo">Fecha</ion-col>
        <ion-col class="titulo">Hora</ion-col>
        <ion-col class="titulo">Temp °C</ion-col>
      </ion-row>
      <ion-row *ngFor="let medicion of mediciones">
        <ion-col>{{ medicion.fecha | date }}</ion-col>
        <ion-col>{{ medicion.fecha | date:"HH:mm:ss" }}</ion-col>
        <ion-col>{{ medicion.valor }}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
