.head {
    text-align: center;
  }
  
ion-col {
    background-color: #999999;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
  }
  
.titulo {
    font-size: 18px;
    color: #fff;
  }
  
div.valor {
    vertical-align: middle;
  }
  
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.titulo-container {
    flex-grow: 1;
    text-align: center;
  }
  
.scrollable {
  overflow-y: scroll;
  max-height: 500px;
}
