.head {
    text-align: center;
}
ion-col {
    background-color: #999999;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
  }

ion-col.titulo {
    font-size: 18px;
    color: #000;
}

div.valor {
    vertical-align: middle;
}