.titulo{
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    color: white;
}

.dato {
    text-align: left;
    size: 5;
}

.center-buttons {
    display: flex;
    justify-content: center;
  }