<ion-card>  
  <ion-header [translucent]="true">

      <div class="header-container">
      <ion-card-header class="titulo">Detalles del Usuario</ion-card-header>
      <ion-button [routerLink]="'/home'" class="volver-button"><ion-icon slot="start" name="home"></ion-icon>Inicio</ion-button>
    </div>
  
  </ion-header>
</ion-card>
  <ion-content>
    <ion-card *ngIf="userData">
      <ion-card-header>
        <ion-card-subtitle>Detalles de Usuario</ion-card-subtitle>
        <ion-card-title>{{ userData.nombre }} {{ userData.apellido }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Usuario</ion-label>
            <ion-note slot="end">{{ userData.user }}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Email</ion-label>
            <ion-note slot="end">{{ userData.email }}</ion-note>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
  