.head {
    text-align: center;
}

.temperatura {
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-container {
    flex-grow: 1;
    text-align: center;
  }