<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>device</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="highcharts" style="width:100%; height:300px;"></div>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <!-- <ion-button (click)='abrirElectrovalvula()'>Abrir electroválvula</ion-button> -->
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="'/mediciones/' + dispositivoId">Ver todas las mediciones</ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="'/logriegos/' + dispositivoId">Ver LOG de riegos</ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button [routerLink]="'/home'">Volver al listado</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>