.head {
  text-align: center;
}

.temperatura {
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo-container {
  flex-grow: 1;
  text-align: center;
}

.estado-conexion {
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 20px;
  text-transform: uppercase;
  
  &.success {
    background-color: green;
    color: white;
  }
  
  &.danger {
    background-color: red;
    color: white;
  }
}

.custom-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  width: 10px;
}

.center-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
