<ion-header [translucent]="true">
  <ion-toolbar>
    <ng-container *ngIf="tipo === 'Temperatura'">
      <ion-title class="head temperatura">Temperatura actual <ion-badge [color]="estadoConexion === 'Online' ? 'success' : 'danger'" class="estado-conexion">{{ estadoConexion }}</ion-badge></ion-title>
    </ng-container>
    <ng-container *ngIf="tipo === 'Luz dimmer'">
      <ion-title class="head">Salida actual <ion-badge [color]="estadoConexion === 'Online' ? 'success' : 'danger'" class="estado-conexion">{{ estadoConexion }}</ion-badge></ion-title>
    </ng-container>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="highcharts" style="width: 100%; height: 300px;"></div>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <div> 
          <ng-container *ngIf="tipo === 'Temperatura'">
            <ion-label>Salida: {{salida === 100 ? 'Encendido' : 'Apagado'}}</ion-label>
          </ng-container>
        </div>
        <div>  
          <ion-label class="ion-text-center">Set point actual: {{ setPoint }}</ion-label>
        </div>
        <div>  
          <ion-label class="ion-text-center">Modo: {{ modo }}</ion-label>
        </div>
        <div class="center-content">
          <ion-input class="custom-input" placeholder="Salida:" type="number" min="15" max="30" step="1"></ion-input>
          <ion-button color="success" [routerLink]="'/home'">
            <ion-icon slot="start" name="wifi"></ion-icon>Cambiar salida
          </ion-button>
        </div>        
        <ion-button [routerLink]="'/home'"><ion-icon slot="start" name="home"></ion-icon>Inicio</ion-button>
        <ion-button [routerLink]="'/medicion/' + dispositivoId"><ion-icon slot="start" name="speedometer"></ion-icon>Mediciones</ion-button>
        <ion-button color="warning" [routerLink]="'/config/' + dispositivoId"><ion-icon slot="start" name="cog"></ion-icon>Configurar dispositivo</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-text-center">
  </div>
</ion-content>