<ion-header>
    <ion-toolbar>
      <ion-title>Agregar Dispositivo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Ubicación</ion-label>
        <ion-input [(ngModel)]="nuevoDispositivo.ubicacion" type="text" required></ion-input>
      </ion-item>
      <ion-note  *ngIf="nuevoDispositivo.ubicacion?.length===0">Ubicación requerida</ion-note>
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input [(ngModel)]="nuevoDispositivo.nombre" type="text" required></ion-input>
      </ion-item>
      <ion-note  *ngIf="nuevoDispositivo.nombre?.length===0">Nombre requerido</ion-note>
      <ion-item>
      <ion-label>MAC address</ion-label>
        <ion-input [(ngModel)]="nuevoDispositivo.mac" type="text" required minlength="17" required></ion-input>
      </ion-item>
      <ion-note  *ngIf="nuevoDispositivo.mac.length !== 17">La MAC debe contener 17 dígitos</ion-note>
      <ion-item>
        <ion-label>Tipo</ion-label>
        <ion-select [(ngModel)]="nuevoDispositivo.tipo" required>
          <ion-select-option value="Temperatura">Temperatura</ion-select-option>
          <ion-select-option value="Luz dimmer">Luz dimmer</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div class="center-content">
      <ion-button color="success" (click)="agregarDispositivo()"><ion-icon name="checkmark"></ion-icon>Confirmar</ion-button>
      <ion-button color="danger" (click)="limpiarCampos()"><ion-icon name="close"></ion-icon>Borrar</ion-button>
      <ion-button [routerLink]="'/home'"><ion-icon slot="start" name="home"></ion-icon>Inicio</ion-button>
    </div>
    </ion-content>
  