.titulo {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.custom-card {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @media (max-width: 767px) {
    width: 100%;
    padding: 20px;
  }
}

.lista {
  min-width: 100%;
}

ion-item.invalid-id ion-input {
  --border-color: red;
}

.success-button {
  --background: var(--ion-color-success);
}

.disabled-button {
  --background: var(--ion-color-medium);
}