.titulo {
    text-align: center;
  }

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
.custom-card {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @media (max-width: 767px) {
    width: 100%;
    padding: 20px;
  }
  }

.lista {
  width: 100%;
}